.footer{
    background-color: $GreenLight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
    padding: 4rem 0rem;

    & .logo{
        filter: invert(39%) sepia(9%) saturate(2377%) hue-rotate(117deg) brightness(50%) contrast(84%);
        width: 11rem;
    }


    & .nav{
        display: flex;
        column-gap: 4rem;
        align-items: center;

        }
        
        & a{
            text-decoration: none;
            color: $Green;
            font-size: 1rem;
            &:hover{
                color: $White;
        }
        
    }

    & .socialmedia{
        display: flex;
        column-gap: 2rem;
        margin-top: 2.5rem;

        & img{
            cursor: pointer;
            &:hover{
                filter: invert(95%) sepia(99%) saturate(0%) hue-rotate(208deg) brightness(124%) contrast(100%); 
            }
        }
    }
}


.attribution{
    background-color: $Green;
    color: $White;
    padding: 1rem;

    & a {
        text-decoration: none;
        color: $Blue !important;
        margin-left: 0.5rem;

        &:hover{
            color: $Pink !important;
        }

        &:first-child{
            margin-right: 2rem;
 
        }
    }
}