.testimonials{
    background-color: $White;
    min-height: 48.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 1024px) {
       padding: 5rem 0rem;
    }


    & h1{
        font-family: $font2;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $Grayish;
        letter-spacing: 0.4rem;
        margin-bottom: 5.5rem;

        @media (max-width: 725px) {
            font-size: 1.3rem;
            letter-spacing: 0.1rem;
        }
    }

    &_comments{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3.8rem;
        align-items: center;
        text-align: center;

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
            gap: 5rem;
        }

        & .comment{
        
            & img{
                border-radius: 50%;
                width: 4.375rem;
                margin-bottom: 2rem;

                @media (max-width: 725px) {
                    margin-bottom: 0rem;
                }
            }

            & p{
                color: $VeryDarkGrayis;
                width: 20rem;
                line-height: 2rem;
                margin-top: 1.6rem;  
                font-size: 1rem; 
                margin-bottom: 4.75rem;

                @media (max-width: 725px) {
                    margin-bottom: 2.75rem;
                }
            }

            & h2{
                font-family: $font2;
                font-weight: 900;
                margin-bottom: 1rem;
   
            }

            & h3{
                color: $DarkGrayis;
                font-size: 1rem;
                font-weight: 500;
                opacity: 0.5;
            }
        }
    }
}