@import "globals";
@import "variables";
@import "class";


@import "header";
@import "slider";
@import "about";
@import "services";
@import "testimonials";
@import "gallery";
@import "footer";


.examples{
    width: 100vw !important;
    position: absolute;
    z-index: 1000;
    margin: 0;
    opacity: 0.5;
    filter: invert(0%) sepia(99%) saturate(3000%) hue-rotate(8deg) brightness(20%) contrast(124%);

}




